# Pynei vendorizado
pynei/

# Archivos temporales de Python
__pycache__/


# Archivos de sesión
__marimo__/

# Archivos de prueba
VCFs_prueba/
archivos_pruebas/

# Claude
CLAUDE.md

# Archivos de desarrollo
*.toml
*.lock
files/
.pytest_cache/
.venv/